.hero{
    margin: 5%;
    margin-top: 7%;
    height: 80%;
    width: 80%;
    
}
.kkk{
  height: 55%;
  display: flex;
  flex-wrap: wrap;
}
.hero h1{
    color: rgb(210, 210, 210);
    margin:0 0 0 50px;
    font-weight: 400;   
 
}
.inner{
    padding-left: 20px;
}
.ho{
    font-size: 100px;
    opacity: 0;
    animation: anim-lineUp 2s linear 1.5s 1 normal  forwards;
}
.hi{
    font-size: 60px;
    opacity: 0;
    animation: anim-lineUp 2s linear 0.5s 1 normal  forwards;
}
.hero h4{
    opacity: 0;
    color: white;
    font-size: 30px;
    animation: anim-lin 4s linear 0.5s 1 normal  forwards;
}
.hero button{
  width: 30%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.442);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  opacity: 0;
  animation: buttonFade 2s forwards;
    animation-delay: 3.2s;
}
.hero button:hover{
  
    background-color: orange;
    box-shadow: 0px 15px 20px rgba(244, 167, 53, 0.4);
    color: #fff;
    transform: translateY(-7px);
  
}
.hero button svg{
  font-size: large;
}
.bottom{
    width: 50%;
    margin:0 0 0 50px;
    display: grid;
}
p{
    color: white;
    opacity: 0.5;
    font-family: cursive;
}
.rocket{
  height: 10%;
}


  .start{
    margin: 0;
  }

  .end1, .middle1, .middle2{
    display: inline-block;
    overflow:hidden;
    height: 1.5em;
}
.end2{
    position:absolute;
    color:#ff6a00
}
.middle1, .middle2{
    color: #cfcfcf
}
.middle1 {
    animation: ani1 5s infinite;
    animation-delay: 1s;
    animation-duration: 5s;
    max-width: 0;
}
.middle2 {
    animation: ani2 5s infinite;
    animation-delay: 1s;
    max-width: 0;
    animation-duration: 5s;
}
/* svg{
    height: 150px;
    
} */

/* ANIMATIONS */
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.75;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes anim-lin {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
@keyframes ani1 {
    0% {
    max-width: 500px;
  }
  
  25% {
    max-width: 0;
  }
  
  75% {
    max-width: 0;
  }
  
  90% {
    max-width: 500px;
  }
  
  100% {
    max-width: 500px;
  }
}

@keyframes ani2 {
    0% {
        max-width: 0;
    }

    25% {
        max-width: 0;
    }

    50% {
        max-width: 500px;
    }

    75% {
        max-width: 0;
    }

    100% {
        max-width: 0;
    }
}
@keyframes buttonFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
