nav{
    height: 60px;
    display: flex;
    top: 0;
    color: white;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    padding: auto;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 1);
    animation: navbar 1s linear 0s 1 normal  forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;


}
.nav-menu{
    text-align: center;
    display: flex;
    gap: 30px;
    font-weight: 700;
    list-style: none;
    
}
.nav-menu li{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 1rem;
}

.nav-menu li a:hover{
    color: orange;
    cursor: pointer;
    font-style: oblique;
}
.nav-menu li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

@keyframes navbar {
    0% {
      transform: translateY(-60px);
    }

    100% {
      transform: translateY(0px);
    }
}

nav h1{
    margin: auto;
}
nav svg{
    height: 40px;
}